/*
	author:	danny.xu
	date:	2010-10-27
	description:	daLoading类样式表
*/

.dl_body{
	position:absolute; z-index:99999; top:0px; left:0px;
	padding:6px; margin:5px;
	border:1px solid #000;
	background:#fff url(images/alpha_bg.png);
	font-size:12px;
	cursor:pointer;
	text-align:center;
}
.dl_body .dl_text{ text-align:center; color:#787878;}
.dl_body .dl_text .loadingGif{ width:32px;height:32px;background:#fff url("images/loading.gif") center no-repeat; }

.dl_body .dl_barbox{
	position:relative;
	width:104px; height:9px;
	padding-top:3px;
	overflow:hidden;
}
.dl_barbox .dl_barbg{
	position:absolute; z-index:29998; left:0px;
	width:100px; height:6px; 
	background:url("images/loading.png") 0px 0px;
}
.dl_barbox .dl_barflow{
	position:absolute; z-index:29999; left:1px; 
	width:100px; height:6px; 
	background:url("images/loading.png") 0px -6px
}
