/*
	author:	danny.xu
	date:	2011-03-14
	description:	自定义按钮
*/

.daButton{padding:0px; margin:0px; border:0px; background:none; cursor:pointer;vertical-align:middle;overflow:visible;/*去掉左右内间距*/  }
.daButton table.tb_daButton{background-color:#c2c2c2;}
.tb_daButton .mid{}
.tb_daButton .mid .container{ position:relative;background:url(images/daBt_highlight.png) 0px 0px repeat-x;}
.tb_daButton .mid .container .client{ position:absolute; left:0px; top:0px;padding:3px 0px;line-height:18px; text-align:center;font-size:12px;color:#555; z-index:9999;}

.tb_daButton .top{ height:2px; background:url(images/daBt_H.png) 0px 0px repeat-x;}
.tb_daButton .bottom{ height:2px; background:url(images/daBt_H.png) 0px -2px repeat-x;}
.tb_daButton .left{ width:2px; background:url(images/daBt_V.png) 0px 0px repeat-y;}
.tb_daButton .right{ width:2px; background:url(images/daBt_V.png) -2px 0px repeat-y;}
.tb_daButton .tl,
.tb_daButton .tr,
.tb_daButton .bl,
.tb_daButton .br{
	width:2px; height:2px; background:url(images/daBt_corner.png) no-repeat;
}
.tb_daButton .tl{ background-position: 0px 0px}
.tb_daButton .tr{ background-position: -2px 0px}
.tb_daButton .bl{ background-position: 0px -2px}
.tb_daButton .br{ background-position: -2px -2px}


.daButton table.tb_daButton2{background-color:#949494;}
.tb_daButton2 .mid{}
.tb_daButton2 .mid .container{ position:relative;background:url(images/daBt_highlight.png) 0px -100px repeat-x;}
.tb_daButton2 .mid .container .client{ position:absolute; left:0px; top:0px;padding:3px 0px; line-height:18px; text-align:center;font-size:12px;color:#000; z-index:9999;}

.tb_daButton2 .top{ height:2px; background:url(images/daBt_H.png) 0px -4px repeat-x;}
.tb_daButton2 .bottom{ height:2px; background:url(images/daBt_H.png) 0px -6px repeat-x;}
.tb_daButton2 .left{ width:2px; background:url(images/daBt_V.png) -4px 0px repeat-y;}
.tb_daButton2 .right{ width:2px; background:url(images/daBt_V.png) -6px 0px repeat-y;}
.tb_daButton2 .tl,
.tb_daButton2 .tr,
.tb_daButton2 .bl,
.tb_daButton2 .br{
	width:2px; height:2px; background:url(images/daBt_corner.png) no-repeat;
}
.tb_daButton2 .tl{ background-position: 0px -4px}
.tb_daButton2 .tr{ background-position: -2px -4px}
.tb_daButton2 .bl{ background-position: 0px -6px}
.tb_daButton2 .br{ background-position: -2px -6px}


.daButton table.tb_daButton3{background-color:#fff;}
.tb_daButton3 .mid{}
.tb_daButton3 .mid .container{ position:relative;background:url(images/daBt_highlight.png) 0px -200px repeat-x;}
.tb_daButton3 .mid .container .client{ position:absolute; left:0px; top:0px;padding:3px 0px; line-height:18px; text-align:center;font-size:12px;color:#f7f7f7; z-index:9999;}

.tb_daButton3 .top{ height:2px; background:url(images/daBt_H.png) 0px -8px repeat-x;}
.tb_daButton3 .bottom{ height:2px; background:url(images/daBt_H.png) 0px -10px repeat-x;}
.tb_daButton3 .left{ width:2px; background:url(images/daBt_V.png) -8px 0px repeat-y;}
.tb_daButton3 .right{ width:2px; background:url(images/daBt_V.png) -10px 0px repeat-y;}
.tb_daButton3 .tl,
.tb_daButton3 .tr,
.tb_daButton3 .bl,
.tb_daButton3 .br{
	width:2px; height:2px; background:url(images/daBt_corner.png) no-repeat;
}
.tb_daButton3 .tl{ background-position: 0px -8px}
.tb_daButton3 .tr{ background-position: -2px -8px}
.tb_daButton3 .bl{ background-position: 0px -10px}
.tb_daButton3 .br{ background-position: -2px -10px}


/*
	author: danny.xu
	date:	2011-2-19
	discription: daDrop自定义下拉框 样式表
*/

.daDropInput { height:18px;line-height:18px;font-size:12px;outline:none; /*border:0px; background: transparent;*/ }

.daDropBt {
	display:inline-block; 
	width:23px; height:23px; line-height:23px;
	text-align:center;text-decoration:none;
	font-size:12px;color:#222;cursor:pointer;
}
.daDropBt  { background-position: -3px 0px; }
.daDropBt:hover{ background-position:-3px -46px; }

.daDropList {
	width:100%; background:#fff; border:1px solid #666;
	position:absolute; left:-3px; top:22px;
	overflow: auto; display:none;
}
.daDropList .item { display:block; padding-left:5px; height:22px; line-height:22px; background:#f7f7f7; color:#222; font-size:12px; text-decoration:none;cursor:pointer;}
.daDropList .item:hover { background:#666; color:#fff;}

