/*
	author:	danny.xu
	date:	2011-8-14 12:31:50
	fileName:	通用框架daFrame-样式文件
	decription:	通用框架daFrame-样式文件
*/

.daCnt { position:relative; border:1px solid #f0f0f0; background:#fff; }

.daCntMain { position:relative; overflow:hidden; }
.daCntBox { position:absolute; }
.daCntOver { 
	position:absolute;
	top:0px; left:0px;
	background:#d7d7d7;
	filter: Alpha(opacity=1);		/* IE */
	-moz-opacity:0.01; 				/* FF 主要是为了兼容老版本的FF */
	opacity:0.01; 					/* FF */
}

.scl_v,
.scl_h,
.scl_v2,
.scl_h2 {
	position:absolute;
	display:none;
	background:#a0a0a0;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border:1px solid #666;
}
.scl_v, .scl_v2 {width:5px;height:50px;right:1px;top:0px;}
.scl_h, .scl_h2 {width:50px;height:5px;bottom:1px;left:0px;}

.scl_v2, .scl_h2 {background:#222; }


/* shandowborder 内阴影样式 */
.sb{}
.sb .t1, .sb .t2, .sb .t3, .sb .t4, .sb .t5 {
	position: absolute;
	top: 0px;
	left: 0px; 
	width:100%; 
	background: #000;
	overflow: hidden;
}

.sb .t1 { height: 1px }
.sb .t2 { height: 2px }
.sb .t3 { height: 3px }
.sb .t4 { height: 4px }
.sb .t5 { height: 5px }

.sb .l1, .sb .l2, .sb .l3, .sb .l4, .sb .l5 {
	position: absolute;
	left: 0px; 
	top: 0px;
	height:100%; 
	background: #000;
	overflow: hidden;
}

.sb .l1 { width: 1px }
.sb .l2 { width: 2px }
.sb .l3 { width: 3px }
.sb .l4 { width: 4px }
.sb .l5 { width: 5px }

.sb .b1, .sb .b2, .sb .b3, .sb .b4, .sb .b5 {
	position: absolute;
	bottom: 0px; 
	left: 0px; 
	width:100%; 
	background: #000;
	overflow: hidden;
}

.sb .b1 { height: 1px }
.sb .b2 { height: 2px }
.sb .b3 { height: 3px }
.sb .b4 { height: 4px }
.sb .b5 { height: 5px }

.sb .r1, .sb .r2, .sb .r3, .sb .r4, .sb .r5 {
	position: absolute;
	right: 0px;
	top:0px;
	height:100%; 
	background: #000;
	overflow: hidden;
}

.sb .r1 { width: 1px }
.sb .r2 { width: 2px }
.sb .r3 { width: 3px }
.sb .r4 { width: 4px }
.sb .r5 { width: 5px }

.sb .o1{ opacity: 0.05; filter: alpha(opacity=5); }
.sb .o2{ opacity: 0.04; filter: alpha(opacity=4); }
.sb .o3{ opacity: 0.03; filter: alpha(opacity=3); }
.sb .o4{ opacity: 0.02; filter: alpha(opacity=2); }
.sb .o5{ opacity: 0.01; filter: alpha(opacity=1); }