/*
	author: danny.xu
	date:	2011-2-19
	discription: daDrop自定义下拉框 样式表
*/

.daDrop,
.daDropFocus { position:relative;height:23px;display:inline-block; *display:inline;}
.daDrop { background-color:#999;}
.daDropFocus { background-color:#666;}

.daDrop .left,
.daDrop .textbox,
.daDropFocus .left,
.daDropFocus .textbox{ float:left; height:23px; background-image:url(images/daDropBg.png); }

.daDrop .left { width:3px; background-position:0px 0px; }
.daDropFocus .left { width:3px; background-position:0px -46px; }

.daDrop .textbox,
.daDropFocus .textbox { position:relative; background-repeat:repeat-x; }
.daDrop .textbox { background-position:0px -23px;}
.daDropFocus .textbox { background-position:0px -69px; }

.daDrop .textbox input,
.daDropFocus .textbox input { height:18px;line-height:18px;font-size:12px; margin-top:2px; border:0px; background: transparent; }

.daDrop .textbox .list,
.daDropFocus .textbox .list {
	width:100%; background:#fff; border:1px solid #666;
	position:absolute; left:-3px; top:22px; z-index:9999;
	overflow: auto; display:none;
}

.daDrop .textbox .list .item,
.daDropFocus .textbox .list .item { display:block; padding-left:5px; height:22px; line-height:22px; background:#f7f7f7; color:#222; font-size:12px; text-decoration:none;cursor:pointer;}

.daDrop .textbox .list .item:hover,
.daDropFocus .textbox .list .item:hover { background:#666; color:#fff;}

.daDrop .bt,
.daDropFocus .bt {
	display:block; float:left;
	height:23px; line-height:23px;width:23px; background:url(images/daDropBg.png);
	cursor:pointer;font-family:webdings;font-size:12px;color:#222;text-decoration:none;text-align:center; }
.daDrop .bt { background-position: -3px 0px; }
.daDropFocus .bt { background-position: -3px -46px; }
 
.daDrop .bt:hover{ background-position:-3px -46px; }
.daDropFocus .bt:hover{ background-position:-3px 0px; }
