/* CSS Document */

div.daTip{position:absolute;}
table.daTipTable{border:0px;}
td.daTipMid{ background-color:#ffffd5; padding-top:5px; font-size:12px;}
/*四角*/
td.daTipTL,td.daTipTR,td.daTipBL,td.daTipBR{
	background:url(images/daTip_corner.png) no-repeat;
}
td.daTipTL{ width:14px; height:32px; background-position:0px 0px;}
td.daTipTR{ width:13px; height:32px; background-position:-14px 0px;}
td.daTipBL{ width:14px; height:15px; background-position:0px -32px;}
td.daTipBR{ width:13px; height:15px; background-position:-14px -32px;}

/*上下*/
td.daTipT,td.daTipB{
	background:url(images/daTip_border_h.png) repeat-x;
}
td.daTipT{ height:32px;background-position:0px 0px;}
td.daTipB{ height:15px;background-position:0px -32px;}

/*左右*/
td.daTipL,td.daTipR{
	background:url(images/daTip_border_v.png) repeat-y;
}
td.daTipL{ width:14px;background-position:0px 0px;}
td.daTipR{ width:13px;background-position:-14px 0px;}

/*标题*/
div.daTipTitle{height:32px; line-height:32px; color:#f5f5f5; font-size:12px;}

/*关闭按钮*/
a.daTipCloseBt{
	display:block;width:15px; height:15px;
	position:absolute; right:13px; top:8px;
	background:url(images/daTip_corner.png) no-repeat 0px -47px;
}
a.daTipCloseBt:hover{background-position:-15px -47px;}

/*指针*/
div.daTipP87,
div.daTipP89,
div.daTipP69,
div.daTipP63,
div.daTipP23,
div.daTipP21,
div.daTipP41,
div.daTipP47{
	width:15px;height:15px;
	display:none;position:absolute;
	background:url(images/daTip_pointer.png) no-repeat;
}
/*上*/
div.daTipP87{top:-9px;left:14px;background-position:0px 0px;}
div.daTipP89{top:-9px;right:13px;background-position:0px 0px;}
/*右*/
div.daTipP69{top:15px;right:-7px;background-position:-15px 0px;}
div.daTipP63{bottom:15px;right:-10px;background-position:-30px 0px;}
/*下*/
div.daTipP23{bottom:-8px; *bottom:-8px;right:15px;background-position:-45px 0px;}
div.daTipP21{bottom:-8px; *bottom:-8px; left:14px;background-position:-45px 0px;}
/*左*/
div.daTipP41{bottom:15px;left:-9px;background-position:-60px 0px;}
div.daTipP47{top:15px;left:-7px;background-position:-75px 0px;}
