/* CSS Document */

div.daTip{position:absolute;}
table.daTipTable{border:0px;}
td.daTipMid{ background-color:#d66500;border:1px solid #fff; color:#f0f0f0; padding:5px; font-size:12px;}
/*四角*/
td.daTipTL,td.daTipTR,td.daTipBL,td.daTipBR{
	background:url(images/daTip_corner.png) no-repeat;
}
td.daTipTL{ width:16px; height:16px; background-position:0px 0px;}
td.daTipTR{ width:16px; height:16px; background-position:-16px 0px;}
td.daTipBL{ width:16px; height:16px; background-position:0px -16px;}
td.daTipBR{ width:16px; height:16px; background-position:-16px -16px;}

/*上下*/
td.daTipT,td.daTipB{
	background:url(images/daTip_border_h.png) repeat-x;
}
td.daTipT{ height:16px;background-position:0px 0px;}
td.daTipB{ height:16px;background-position:0px -16px;}

/*左右*/
td.daTipL,td.daTipR{
	background:url(images/daTip_border_v.png) repeat-y;
}
td.daTipL{ width:16px;background-position:0px 0px;}
td.daTipR{ width:16px;background-position:-16px 0px;}


/*关闭按钮*/
a.daTipCloseBt{
	display:block;width:15px; height:15px;
	position:absolute; right:12px; top:12px;
	background:url(images/daTip_corner.png) no-repeat 0px -32px;
}
a.daTipCloseBt:hover{background-position:-15px -32px;}

/*指针*/
div.daTipP8,
div.daTipP6,
div.daTipP2,
div.daTipP4{
	width:32px;height:32px;
	display:none;position:absolute;
	background:url(images/daTip_pointer.png) no-repeat;
}
/*上*/
div.daTipP8{top:-22px;background-position:0px 0px;}
/*右*/
div.daTipP6{right:-22px;background-position:-32px 0px;}
/*下*/
div.daTipP2{bottom:-22px; *bottom:-22px; background-position:-64px 0px;}
/*左*/
div.daTipP4{left:-22px;background-position:-96px 0px;}



/*
* author: danny.xu
* date: 2011/7/3 23:21:13
* description: daPopMenu右键菜单样式表
*/
.daPopMenu{}
.daPopMenu hr{border:0px;border-top:1px solid #dedede;border-bottom:1px solid #fff;}
.daPopMenu a{display:block;padding: 3px;text-decoration:none;color:#333;border:1px solid #f5f5f5;}
.daPopMenu a:hover{border:1px solid #222;color:#f5f5f5;background:#444;}
