/*
	author:	danny.xu
	date:	2011-11-18 
	description:	da通用样式库
*/
/* 字体 */
*{ font: 12px/1.5 arial, tahoma, helvetica, "\5b8b\4f53", sans-serif; }

/* 小图标样式 */
/*静态图标 - 带外间距*/
span.daIco{display:inline-block; vertical-align:middle; margin-left:10px;margin-right:5px;width:16px;height:16px;background:url(images/daIcons.png) no-repeat; display:inline-block;} /*hock：   *vertical-align:-8px;  */
/*无外间距*/
span.daIco2{display:inline-block; vertical-align:middle; width:16px;height:16px;background:url(images/daIcons.png) no-repeat; display:inline-block;margin-right:2px;} /*hock：   *vertical-align:-8px;  */

/*logo*/
span.logo{background:url(images/logo.png) no-repeat;}
span.logo2{background:url(images/logo2.png) no-repeat;}

span.user {background-position:0px 0px;}span.user2 {background-position:-80px 0px;}span.user3 {background-position:-128px -16px;}span.user4 {background-position:-112px -16px;}
span.file {background-position:-16px 0px;}
span.add {background-position:-32px 0px;}span.add2 {background-position:-112px -48px;}
span.save {background-position:-48px 0px;}
span.print {background-position:-64px 0px;}
span.search {background-position:-96px 0px;} span.search2 {background-position:-160px 0px;}
span.link {background-position:-112px 0px;} span.link2 {background-position:-128px 0px;}
span.upload {background-position:-144px 0px;}
span.edit {background-position:-32px -16px;}


span.money {background-position:0px -16px;}span.money2 {background-position:-48px -16px;}span.money3 {background-position:-64px -16px;}span.money4 {background-position:-80px -16px;}span.money5 {background-position:-96px -16px;}
span.card {background-position:-16px -16px;}

span.delete {background-position:0px -32px;}span.delete2 {background-position:-16px -32px;}
span.error {background-position:-32px -32px;}
span.warn {background-position:-96px -32px;}span.warn2 {background-position:-48px -32px;}
span.no {background-position:-64px -32px;}span.ok {background-position:-80px -32px;}
span.good {background-position:-112px -32px;}
span.phone {background-position:-128px -32px;}

span.plus {background-position:0px -48px;}
span.minus {background-position:-16px -48px;}
span.todown {background-position:-32px -48px;}
span.toup {background-position:-48px -48px;}
span.dot {background-position:-64px -48px;} span.dot2 {background-position:-80px -48px;} span.dot3 {background-position:-96px -48px;}

span.dleft {background-position:0px -64px;}
span.dright {background-position:-16px -64px;}
span.refresh {background-position:-32px -64px;}
span.update {background-position:-48px -64px;}
span.lock {background-position:-96px -64px;}

span.play {background-position:0px -80px;}span.play2 {background-position:-16px -80px;}
span.stop {background-position:-32px -80px;}span.stop2 {background-position:-48px -80px;}
span.replay {background-position:-64px -80px;}
span.pause {background-position:-80px -80px;}

span.chart {background-position:0px -96px;}span.chart2 {background-position:-16px -96px;}span.chart11 {background-position:-32px -96px;}span.chart12 {background-position:-48px -96px;}
span.checkbox {background-position:0px -112px;}span.checkbox2 {background-position:-16px -112px;}

/* 阴影 */
.daShadow {
  -moz-box-shadow: 0px 2px 10px #999;	
  -webkit-box-shadow: 0px 2px 10px #999;
  box-shadow: 0px 2px 10px #999;
  filter:
  progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=0, Color='#cccccc') 
  progid:DXImageTransform.Microsoft.Shadow(Strength=5, Direction=90, Color='#cccccc') 
  progid:DXImageTransform.Microsoft.Shadow(Strength=5, Direction=180, Color='#cccccc') 
  progid:DXImageTransform.Microsoft.Shadow(Strength=5, Direction=270, Color='#cccccc');
}

/* 圆角 */
.daRadius {
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

/* 半透明 */
.daOpacity {
	/* 兼容多浏览器 半透明特效 */
	filter:	alpha(opacity=80);		/*值域为[0, 100] */
	-moz-opacity:	0.8;						/*值域为[0, 1]	 */
	opacity: 0.8;									/*值域为[0, 1] 	 */
}

