/*
	author:	danny.xu
	date:	2011/11/19
	description:	daOption选项按钮样式表
*/
.daOption,
.daOption2,
.daOption3 { 
	padding:3px; margin:1px; vertical-align:top;cursor:pointer;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
.daOption2,
.daOption3 { background-color:#666;}

.daOption .checkbox,
.daOption2 .checkbox,
.daOption3 .checkbox,
.daOption .radio,
.daOption2 .radio,
.daOption3 .radio { width:16px;height:16px;background:url( images/daOption.png );vertical-align:middle; }

.daOption .checkbox { background-position:0px 0px }
.daOption2 .checkbox { background-position:-16px 0px }
.daOption3 .checkbox { background-position:-80px 0px }
.daOption .radio { background-position:0px -16px }
.daOption2 .radio { background-position:-16px -16px }
.daOption3 .radio { background-position:-80px -16px }
.daOption .text,
.daOption2 .text,
.daOption3 .text { float:right;padding-left:3px;font-size:12px;color:#444; }
.daOption2 .text,
.daOption3 .text { color:#f5f5f5; }